<!-- templates/base.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/static/attendance/images/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/static/attendance/images/apple-touch-icon.png" sizes="180x180">
  <title>{% block title %}Overwork monitor{% endblock %}</title>
</head>
<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'attendance:index' %}">
        <img src="/static/attendance/images/logo.png" width="150" height="30" alt="">
      </a>
      </br></br><p class="example1">{{ user.get_short_name }}</p>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'attendance:index' %}">時間入力</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'attendance:historylist' %}">勤務時間確認</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'attendance:logout' %}">ログアウト</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main>
  </br>
    {% block content %}
    {% endblock %}
  </main>

  <!-- Bootstrap core JavaScript -->
<script src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>
