<!-- ログイン画面 -->

{% load staticfiles %}

<form method="post">
  {% csrf_token %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" /> <!-- bootstrap -->
  <link rel="stylesheet" type="text/css" href="{% static 'attendance/style.css' %}">
  <body>
    <!-- Page Content -->
    <div class="container">
      <img src="/static/attendance/images/logo.png" width="150" height="30" alt=""><br><br>
      {{ form.as_p }}
      <button type="submit">ログイン</button>
    </div>
  </body>
</form>
