<!-- 時間入力画面 -->

{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
{% if user.is_authenticated %}

<script src="{% static 'bootstrap/js/jquery-3.3.1.min.js' %}"></script>
<script>
  function handler(e){
    window.location.href = "/attendance/daysearch/" + e.target.value;
  }
</script>

<form action="{% url 'attendance:regist' %}" method="post">
  {% csrf_token %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" /> <!-- bootstrap -->
  <link rel="stylesheet" type="text/css" href="{% static 'attendance/style.css' %}">
  <body>
    <!-- Page Content -->
    <div class="container">
      <h4 class="mt-5">時間入力画面</h4>
      </br>
      <!-- 日付入力 -->
      <input type="date" class="form-control" style="width:200px;" name="day" value={% if day %}{{ day }}{% else %}{% now "Y-m-d" %}{% endif %} onchange="handler(event);"></br>
      出勤時間</br>
      <input type="time" class="form-control" style="width:200px;" size="30" name="start" value={% if start %}{{ start }}{% else %}09:30{% endif %}></br>
      退勤時間</br>
      <input type="time" class="form-control" style="width:200px;" size="30" name="end" value={% if end %}{{ end }}{% else %}18:00{% endif %}></br>
      ※有給半日の場合は実労働時間を入力、有給１日の場合は9:30〜18:00を入力する。
      </br></br>休暇種別</br>
      <div class="radio">
        <div><label><input type="radio" name="paid" value=0 {% if paid == '' or paid == 0.0 or paid == None %}checked="checked"{% endif %}> 利用なし</label></div>
        <div><label><input type="radio" name="paid" value=11 {% if paid == 11 %}checked="checked"{% endif %}> 特別休暇</label></div>
        <div><label><input type="radio" name="paid" value=1 {% if paid == 1.0 %}checked="checked"{% endif %}> 有給１日</label></div>
        <div><label><input type="radio" name="paid" value=0.5 {% if paid == 0.5 %}checked="checked"{% endif %}> 有給半日</label></div>
      </div>
      </br>
      <input type="submit" value="更新">
    </div>
</br></br>
  </body>
</form>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'attendance:login' %}">login</a>
{% endif %}
{% endblock %}
