<!-- 　勤務時間確認画面 -->
{% extends 'base.html' %}
{% block content %}
{% load attendance_history_filters %}
{% if user.is_authenticated %}
{% load staticfiles %}

<form method="get" action="" name="filter_form">
  {% csrf_token %}
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" /> <!-- bootstrap -->
  <link rel="stylesheet" type="text/css" href="{% static 'attendance/style.css' %}">
  <body>
    <!-- Page Content -->
    <div class="container">
      <h4 class="mt-5">勤務時間確認</h4>
      </br>
      年月選択</br>
      <input type="month" class="form-control" style="width:200px;" id="filter_date" name="date" value={{ yearmonth }} onchange="submit(this.form)">
      </br>
      選択月休日数：{{ holidaycount }}</br>
      有給残日数：{{ paid }}</br>
      必要出勤日数：{{ workday }}</br>
      出勤日数（過不足）：{{ requiredworkday }}（{{ workdaydiff }}）</br>
      必要労働時間：{{ worktime }}</br>
      実労働時間（過不足）：{{ requiredtime }}（{{ worktimediff }}）</br>
      </br>
      勤務時間一覧</br>
      {% if history_list %}
        <table class="table table-striped">
          <tr>
            <th>日付</th>
            <th>開始時間</th>
            <th>終了時間</th>
            <th>休暇種別</th>
            <th>稼働時間</th>
            <th>　</th>
          </tr>
          {% for history in history_list %}
          <tr>
            <td>{{ history.date }} ( {% if history.date.weekday == 0 %}月{% elif history.date.weekday == 1 %}火{% elif history.date.weekday == 2 %}水{% elif history.date.weekday == 3 %}木{% elif history.date.weekday == 4 %}金{% elif history.date.weekday == 5 %}土{% elif history.date.weekday == 6 %}日{% endif %} )</td>
            <td>{{ history.start_time }}</td>
            <td>{{ history.end_time }}</td>
            <td>{% if history.paid == 11.0 %}特別休暇{% elif history.paid == 1.0 %}有給{% elif history.paid == 0.5 %}半日有給{% else %}利用なし{% endif %}</td>
            <td>{{ history.daytime }}</td>
            <td><a href="/attendance/historyremove/{{ history.id }}">削除</a></td>
          </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>履歴なし</p>
      {% endif %}
    </div>
  </body>
</form>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'attendance:login' %}">login</a>
{% endif %}
{% endblock %}
