{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  Hi {{ user.last_name }}!</br>

  {% now "F" %}{% now "j" %}日</br>

  {% load static %}

  <link rel="stylesheet" type="text/css" href="{% static 'attendance/style.css' %}">
  {% if latest_holiday_list %}
      <ul>
      {% for holiday in latest_holiday_list %}
        <li><a href="{% url 'attendance:detail' holiday.month %}">{{ holiday.month }}</a></li>
      {% endfor %}
      </ul>
  {% else %}
      <p>No attendance are available.</p>
  {% endif %}


  <p><a href="{% url 'attendance:logout' %}">logout</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'attendance:login' %}">login</a>
{% endif %}
{% endblock %}
